body {
  font-family: sans-serif;
  padding: 8px;
  margin: 0;
}

.example .buttons-row {
  width: 100%;
  margin-bottom: 10px;
}

.example {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.example .table-container {
  flex: 1;
  min-width: 280px;
}

.example .table-container h2 {
  font-size: 2rem;
}

.example table {
  width: 100%;
}

.table1 {
  display: block;
  padding-right: 20px;
}

.table1 table thead,
.table1 table tbody {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.example button {
  padding: 6px 12px;
  font-size: 13px;
  height: auto;
}

.example button.run {
  background-color: #1c49e4;
  border-color: #1c49e4;
  margin-right: 8px;
}

.example button.run:hover {
  background-color: #2350ea;
}

.example button.button.reset {
  border-color: #1c49e4;
  color: #1c49e4;
}

table {
  table-layout: fixed;
  font-size: 13px;
  margin-bottom: 10px;
}

table tbody tr td:not(:first-child) {
  text-align: right;
  padding-right: 12px;
}

table tbody tr td,
table tbody tr th {
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 32px;
  padding: 8px 10px;
}

table tbody tr td span {
  display: inline-block;
}

.table1 table tbody tr td:first-child, .table1 table tbody tr:first-child {
  text-align: left;
  padding-left: 10px;
  font-weight: 600;
  background-color: #f4f5f6;
  color: #333;
}

.table2 {
  padding-left: 20px;
}

table tbody tr td.updated-cell span {
  animation-name: cell-appear;
  animation-duration: 0.6s;
}

@keyframes cell-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
