@use "sass:color";

$angular: #dd0330;
$angular-dark: color.adjust($angular, $lightness: -5%);

/** override */
.button {
  margin: 0 10px 20px 0;
  background: $angular;
  border-color: $angular;

  &:active,
  &:focus {
    background: $angular;
    border-color: $angular;
  }

  &:hover {
    background: $angular-dark;
    border-color: $angular-dark;
  }

  &.button-outline {
    color: $angular;
    background: transparent;

    &:active,
    &:focus {
      color: $angular;
      border-color: $angular;
    }

    &:hover {
      color: $angular-dark;
      border-color: $angular-dark;
    }
  }
}
