<div>
  <table>
    <colgroup>
      <col style="width:22%" />
      <col style="width:15%" />
      <col style="width:23%" />
      <col style="width:20%" />
      <col style="width:20%" />
    </colgroup>
    <thead>
      <tr>
        <th>Name</th>
        <th>Year_1</th>
        <th>Year_2</th>
        <th>Average</th>
        <th>Sum</th>
      </tr>
    </thead>
    <tbody>
      @for (row of employees(); track $index) {
        <tr>
          @for (cell of row; track $index) {
            <td><span>{{ cell }}</span></td>
          }
        </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        @for (total of totals(); track $index) {
          <td>{{ total }}</td>
        }
        <td colspan="2"></td>
      </tr>
    </tfoot>
  </table>
</div>
