table {
  table-layout: fixed;
  font-size: 14px;

  thead {
    tr {
      th {
        &:first-child {
          padding-left: 40px;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        &:first-child {
          text-align: center;
          padding: 0;

          span {
            width: 100%;
            display: inline-block;
            text-align: left;
            padding-left: 15px;
            margin-left: 0;

            &::before {
              counter-increment: row-counter;
              content: counter(row-counter);
              display: inline-block;
              width: 20px;
              position: relative;
              left: -10px;
            }
          }
        }
      }
    }
  }

  tfoot {
    font-weight: 600;

    td {
      &:first-child {
        text-align: right;
        text-transform: uppercase;
        padding: 0;
      }
    }
  }
}
