$aqua: #00D8FF;

/** override */
.button {
  margin: 0 10px 20px 0;
  background: $aqua;
  border-color: $aqua;

  &:active,
  &:focus {
    background: $aqua;
    border-color: $aqua;
  }

  &:hover {
    background: darken($aqua, 5%);
    border-color: darken($aqua, 5%);  
  }

  &.button-outline {
    color: $aqua;
    
    &:active,
    &:focus {
      color: $aqua;
      border-color: $aqua;
    }

    &:hover {
      color: darken($aqua, 5%);
      border-color: darken($aqua, 5%);  
    }
  }
}
