body {
  font-family: sans-serif;
  counter-reset: row-counter col-counter;
  padding: 15px;
}

.example button.run {
  background-color: #1c49e4;
  border-color: #1c49e4;
  margin-bottom: 20px;
}

.example button.run:hover {
  background-color: #2350ea;
}

table tbody tr td:first-child {
  text-align: center;
  padding: 0;
}

table {
  table-layout: fixed;
}

table tbody tr td,
table tbody tr th {
  overflow: hidden;
  text-overflow: ellipsis;
}

table thead tr th:first-child {
  padding-left: 40px;
}

table tbody tr td:first-child span {
  width: 100%;
  display: inline-block;
  text-align: left;
  padding-left: 15px;
  margin-left: 0;
}

table tbody tr td:first-child span::before {
  counter-increment: row-counter;
  content: counter(row-counter);
  display: inline-block;
  width: 20px;
  position: relative;
  left: -10px;
}

table thead tr th span::before {
  counter-increment: col-counter;
  content: counter(col-counter, upper-alpha);
  display: inline-block;
  width: 20px;
}

#address-preview {
  font-weight: bold;
}

div.result {
  display: inline-block;
  margin: 0 0 0 15px;
}

p.data-label {
  margin: 0;
}
