body {
  font-family: sans-serif;
  padding: 20px;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

table {
  width: 100%;
  margin-top: 20px;
}

input[type='number'] {
  width: 100%;
  margin-bottom: 0;
  padding: 4px 8px;
  height: auto;
}

tr.summary td {
  font-weight: 600;

  &:first-child {
    text-align: right;
    text-transform: uppercase;
  }
}

tbody tr:last-child td {
  border-top: 2px solid #606c76;
}
